!!!
%html
  %body
    .header
      %h2 FindGoodFood.com
    .search_bar
      %form{:action => "/action_page.php"} 
        %input{:name => "search_bar", :placeholder => "Find Good Food", :type => "text", :value => ""}/
        %select{:name => "search_type"}
          %option{:value => "food"} Food
          %option{:value => "restaurant"} Restaurant
        %input{:type => "submit", :value => "Submit"}/
