%h1 Welcome
%div
= link_to 'Register or Log In with GitHub', '/auth/github'

%div
= link_to 'Register or Log In with Facebook', '/auth/facebook'
// :javascript
//   window.fbAsyncInit = function() {
//     FB.init({
//       appId      : '{304395997120017}',
//       cookie     : true,
//       xfbml      : true,
//       version    : '{api-version}'
//     });
      
//     FB.AppEvents.logPageView();   
      
//   };

//   (function(d, s, id){
//      var js, fjs = d.getElementsByTagName(s)[0];
//      if (d.getElementById(id)) {return;}
//      js = d.createElement(s); js.id = id;
//      js.src = "https://connect.facebook.net/en_US/sdk.js";
//      fjs.parentNode.insertBefore(js, fjs);
//   }(document, 'script', 'facebook-jssdk'));
%div
-# ************************8
-# Add explanoatory and appealing text here!
-# Users must have GitHub account, or Facebook account
-# Name and email must be publicly available on profile