%h1 Welcome
%div
= link_to 'Register or Log In with GitHub', '/auth/github'
%div
= link_to 'Register or Log In with Facebook', '/auth/facebook'
%div
-# ************************8
-# Add explanoatory and appealing text here!
-# Users must have GitHub account, or Facebook account
-# Name and email must be publicly available on profile