/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*added by Himani
start block*/
:css
      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial;
        padding: 10px;
        /*background: #f1f1f1;*/
      }
      
      /* Header/Blog Title */
      .header {
        margin-top: 150px;
        text-align: center;
      }
      
      .header h2 {
        font-size: 80px;
        margin-bottom: 0;
        font-family: Pacifico;
        color: Blue;
      }
      
      .header p {
        font-size: 20px;
        font-family: Arial;
      }
      
      form {
        width: 100%;
        margin: 0 auto;
      }

      .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #2196F3;
        color: white;
      }
      
      .topnav {
        float: none;
      }
      .search-container select{
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: 1px solid #ccc;
        width: 10%;
        height: 45px;
        text-align: center;
        margin-right: 10px;
      }
      
      .search-container input[type=text] {
        padding: 6px;
        /*margin-top: 30px;*/
        font-size: 30px;
        border: 1px solid #ccc;
        width: 40%;
        height: 45px;
        margin-bottom: 20px;
      }
      
      .search-container input[type=submit] {
        float: none;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border:1px solid #ccc;
        cursor: pointer;
        width: 10%;
        height: 45px;
        text-align: center;
      }
      
      .search-container button:hover {
        background: #ccc;
      }
      .search-container {
          margin: auto;
          width: 100%;
          padding: 10px;
          text-align: center;
          /*justify-content: center*/
        }
      
      
      /* Footer */
      .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      }
      
      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
      /*@media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {   
          width: 100%;
          padding: 0;
        }
      }*/
      
      /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
      /*@media screen and (max-width: 400px) {
        .topnav a {
          float: none;
          width: 100%;
        }
      }*/
/*added by Himani
end block*/
